h1 {
  color: blue;
}
.header-form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.motorQuestion, .sailboatQuestion{
  display: inline-block;
}

#boatList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
